<%- include ../partials/events/events-navbar.ejs %> 
<section id="events-edit">
  <form class="edit-form edit-prof" method="POST" action="/events/<%= event._id %>">
    <div class="edit form-field" >
      <label>Title *</label>
      <input class="edit-create" type="text" name="title" value="<%= event.title %>"/>
    </div>
    <div class="edit form-field" >
      <label>Image</label>
      <input class="edit-create" type="text" name="image" value="<%= event.image %>"/>
    </div>
    <div class="edit form-field" >
      <label>Date *</label>
      <input class="edit-create" type="date" name="date" value="<%= event.date %>"/>
    </div>
    <div class="edit form-field" >
      <label>City</label>
      <input class="edit-create" type="text" name="location.city" value="<%= event.location.city  %>"/>
    </div>
    <div class="edit form-field" >
      <label>Region</label>
      <input class="edit-create" type="text" name="location.region" value="<%= event.location.region %>"/>
     </div>
    <div class="edit form-field" >
      <label>Country</label>
      <input class="edit-create"  type="text" name="location.country" value="<%= event.location.country %>"/>
    </div>
    <div class="edit form-field" >
      <label>Starting Point</label>
      <input class="edit-create" type="text" name="startingPoint" value="<%= event.startingPoint %>"/>
    </div>
    <div class="edit form-field" >
      <label>Description *</label>
      <input class="description edit-create"  class="description" type="text" name="description" value="<%= event.description %>"/>
    </div>
    <div class="edit form-field" >
      <label>Difficulty level</label>
      <div class="radio-input">
        <label>Easy</label>
        <input class="edit-create" type="radio" id="easy" name="difficultyLevel" value="easy"/>
      </div>
      <div class="radio-input">
        <label>Medium</label>
        <input class="edit-create" type="radio" id="medium" name="difficultyLevel" value="medium"/>
      </div>
      <div class="radio-input">
        <label>Hard</label>
        <input class="edit-create" type="radio" id="hard" name="difficultyLevel" value="hard"/>
      </div> 
    </div>
    <div class="edit form-field" >
      <label>Duration</label>
      <input class="edit-create" type="number" name="duration" value="<%= event.duration %>"/>
    </div>
    <div class="edit form-field" >
      <label>Distance</label>
      <input class="edit-create" type="number" name="distance" value="<%= event.distance %>"/>
    </div>
    <div class="field submit-event-edit">
      <button class="edit-event" type="submit">Edit</button>
    </div>
  </form>
</section>
<%- include ../partials/navbar.ejs %>
