<nav class="event-navbar"> 
  <p><a class="nav-link link" href="javascript:window.history.back();">Go back</a></p>
  <% if (event.guide[0]._id == userId) { %>
    <p><a class="nav-link link" href="/events/<%= event._id%>/edit" class="edit-event">Edit event</a></p>
    <form class="delete-event" method="POST" action='/events/<%= event._id %>/delete-event'>
      <div class="container  link-container">
        <button class="del-event" type="submit">Delete event</button>
      </div>
    </form>
  <% } %>
</nav>
<section id="event-detail">
  <article class="event"> 
    <%- include ../partials/notifications.ejs %> 
    <h2 class="event-title"><%= event.title %></h2>
    <img class="event-image" src="<%= event.image %>" alt="event image">
    <div class="info-container">
     
      <%  event.guide.find( user =>{ %>
        <div class="guide-container">
            <span class="title">Guide: </span>
              <a class="user-link link" href="/users/<%= user._id %>">
                <div class="container flex-column">
                  <img class="user-icon" src="<%= user.image %>" alt="user image"></li>
                  <span class="user-icon-tag"><%= user.username %>&emsp;</span>
                </div> 
              </a>
        </div>
      <% }) %>
      <p class="event-info date"><span class="title">Date:</span> <%= event.date.toDateString() %></p>
      <p class="event-info"><span class="title">Location:</span></p>
        <ul class="location-list">
          <li><span class="title">City: </span><%= event.location.city  %></li>
          <li><span class="title">Region: </span><%= event.location.region %></li>
          <li><span class="title">Country: </span><%= event.location.country  %></li>
        </ul>
      <p class="event-info"><span class="title">Starting point:</span> <%= event.startingPoint %></p>
      <p class="event-info"><span class="title">Description:</span> <%= event.description %></p>
      <p class="event-info"><span class="title">Difficulty level:</span> <%= event.difficultyLevel %></p>
      <p class="event-info"><span class="title">Duration:</span> <%= event.duration %> hours</p>
      <p class="event-info"><span class="title">Distance:</span> <%= event.distance %> km</p>
      <p class="event-info"><span class="title">Participants:</span></p>
      <div class="users-list  flex-wrap">  
      <% event.participants.forEach(user => { %>
        <div class="user-info">
          <a class="user-link link" href="/users/<%= user._id %>">
            <img class="user-icon" src="<%= user.image %>" alt="user image"></li>
            <p class="user-icon-tag"><%= user.username %>&emsp;</p> 
          </a>
        </div>
      <% }) %>
      </div>
    </div>
  </article>
  <article class="participants join-disjoin">
    <div class="btn-container"> 
      <form class="join" method="POST" action='/events/<%= event._id %>/join'>
          <div class="link-container submit">
              <li><button class="join" type="submit">Join the hike</button></li> 
          </div>
        </form>
    </div> 
    <div class="btn-container"> 
      <form class="join" method="POST" action='/events/<%= event._id %>/leave'>
      <div class="link-container submit">
          <li><button class="join" type="submit">Leave the hike</button></li> 
      </div>
      </form>
    </div> 
  </article>
</section>
<%- include ../partials/navbar.ejs %>

<span class="title"></span>