<section id="event-detail">
  <article class="event">
    <a class="link go-back" href="/events">Go back</a>
    <%- include ../partials/notifications.ejs %> 

    <h2 class="event-title"><%= event.title %></h2>
    <a href="/events/<%= event._id%>/edit" class="edit-event">Edit</a>
    <form class="delete-event" method="POST" action='/events/<%= event._id %>/delete-event'>
    <div class="container  link-container">
        <button type="submit">Delete event</button>
    </div>
    </form>
    <div class="event-image">
      <img src="<%= event.image %>" alt="event image" class="card-image">
    </div>
    <p class="event-info">Guía: 
      <%  event.guide.find( user =>{ %>
        <%= user.username %>
     <% }) %>
    </p>
    <p class="event-info date">Date: <%= event.date %></p>
    <p class="event-info">Location:</p>
      <ul>
        <li>City: <%= event.location.city  %></li>
        <li>Region: <%= event.location.region %></li>
        <li>Country: <%= event.location.country  %></li>
      </ul>
    <p class="event-info">Starting point: <%= event.startingPoint %></p>
    <p class="event-info"><%= event.description %></p>
    <p class="event-info">Participants</p>
    <p class="event-info">Difficulty level: <%= event.difficultyLevel %></p>
    <p class="event-info">Duration: <%= event.duration %> hours</p>
    <p class="event-info">Distance: <%= event.distance %> km</p>
  </article>
</section>
<section id="participants">
      <ul> Participants: 
            <% event.participants.forEach(user => { %>
             <li> <span><a href=""><%= user.username %></a>,&emsp;</span> </li>
            <% }) %>
      </ul>
  <form class=" join form container  flex-column  align-items-center " method="POST" action='/events/<%= event._id %>/join'>
    <div class="container  link-container">
        <li><button type="submit">Join the hike</button></li> 
    </div>
  </form>
  <form class=" join form container  flex-column  align-items-center " method="POST" action='/events/<%= event._id %>/leave'>
  <div class="container  link-container">
      <li><button type="submit">Leave the hike</button></li> 
  </div>
  </form>
  </article>
</section>
<%- include ../partials/navbar.ejs %>

