<section id="event-detail">
<article class="event-card">
  <a href="../">Go back</a>
  <h2 class="card-title"><%= event.title %></h2>
  <div class="image-container">
    <img src="<%= event.image %>" alt="event image" class="card-image">
  </div>
  <p class="card-date">Date: <%= event.date %></p>
  <p class="card-location">Location:
      <ul>
        <li>City: <%= event.location.city  %></li>
        <li>Region: <%= event.location.region %></li>
        <li>Country: <%= event.location.country  %></li>
        <li>Participants: 
            <% event.participants.forEach(user => { %>
              <span><a href=""><%= user.username %></a>,&emsp;</span> 
            <% }) %>
        </li>
      </ul>
  </p>

  <form class=" join form container  flex-column  align-items-center " method="POST" action='/events/<%= event._id %>/join'>
    <div class="container  link-container">
        <li><button type="submit">Join the hike</button></li> 
        <%- include ../partials/notifications.ejs %> 
    </div>
  </form>
</article>
</section>

