<section id="events-index">

  <div class="buttons container justify-cont-around">
    <p class="btn"><a href="/events/create">New event</a></p>
    <p class="btn toggle-filter-form">Filter</p>
  </div>
  <div class="form hidden">
    <form class="events-form" method="POST" action="/events/list">
      <div class="form-field" >
        <label>City</label>
        <input type="text" name="city"/>
      </div>
      <div class="field submit">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>

  <div class="events-list">
  <% events.forEach(event =>{ %>
    <article class="event-card">
        <h2 class="card-title"><%= event.title %></h2>
        <div class="image-container">
          <img src="<%= event.image %>" alt="event image" class="card-image">
        </div>
        <p class="card-date">Date: <%= event.date %></p>
        <p class="card-location">Location:
            <ul>
              <li>City: <%= event.location.city  %></li>
              <li>Region: <%= event.location.region %></li>
              <li>Country: <%= event.location.country  %></li>
            </ul>
        </p>
    </article>
  <% }) %>
  </div>
</section>