<%- include ../partials/events/events-navbar.ejs %>

<section class="  profile-info  container flex-column  ">
  <div class="notication-profile">
    <%- include ../partials/notifications.ejs %> 
  </div>
  <!-- to include Profile Partial -->
  <%- include ../partials/users/otherUserProfilePartial.ejs %>
</section>
<section class="  profile-events  container  flex-column">
    <!-- To include events partials -->
    <div class="flex-wrap  upcomming-events  container">
    <%- include ../partials/users/userUpcomingEvents.ejs %>
    </div>
    <div class="  follow  container  flex-wrap">
      <h3 class="follow">Followers</h3>
      <%- include ../partials/users/followers.ejs %>
    </div>
</section>
<%- include ../partials/navbar.ejs %>