<a class="card" href="/events/<%= event._id %>">
  <article class="event-card">
      <div class="container justify-cont-around">
        <img src="<%= event.image %>" alt="event image" class="card-image" width="375px">
        <div class="container flex-column">
          <h3 class="card"><%= event.title %></h3><span></span>
          <p class="card"><span class="bold">Region:</span> <%= event.location.region %></p>
          <p class="card"><span class="bold">Country:</span> <%= event.location.country %></p>
          <p class="card"><span class="bold">Guide:</span> 
            <%  event.guide.find( user =>{ %>
             <%= user.username %>
            <% }) %>
          </p>
          <p class="card"><span class="bold">Date:</span> <%= event.date.toDateString() %></p>
        </div>
      </div>
  </article>
</a>
