<article class="event-card">
  <div class="container justify-cont-around">
    <img src="<%= event.image %>" alt="event image" class="card-image" width="375px">
    <div class="container flex-column">
      <h3 class="card"><%= event.title %></h3><span></span>
      <ul class="card location-list align-items-center">
        <li>City: <%= event.location.city  %></li>
        <li>Region: <%= event.location.region %></li>
        <li>Country: <%= event.location.country  %></li>
      </ul>
      <p class="card">Date: <%= event.date.toDateString() %></p>
      <a class="card" href="/events/<%= event._id %>">See more</a>
    </div>
  </div>
</article>
